
     body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color:silver;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .formulario {
      width: 400px;
      background: #928bbb;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 40px;
      height: 300px;
      
    }
    
    .formulario h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: white;

    }
    
    .formulario form {
      display: flex;
      flex-direction: column;
    }
    
    .formulario .username, .formulario .contraseña {
      position: relative;
      margin-bottom: 20px;
      width: 360px;

    }
    
    .formulario input[type="text"], .formulario input[type="password"] {
      width: 100%;
      padding: 10px 10px 10px 30px;
      font-size: 16px;
      border: 1px solid #cfcbcb;
      border-radius: 5px;
      outline: none;
      background: transparent;
    }
    
    .formulario label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(204, 204, 204);
      pointer-events: none;
      font-size: 14px;
    }
    
    .formulario input[type="submit"] {
      padding: 10px;
      font-size: 16px;
      background-color: #f7f3f3;
      color: blue;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .formulario input[type="submit"]:hover {
      background-color: #cbd1d8c0;
    }
    
    .recordar, .registrarse a {
      text-align: center;
      display: block;
      margin-top: 10px;
      font-size: 14px;
      color: #f1f3f5;
      text-decoration: none;
    }
    
    .recordar:hover, .registrarse a:hover {
      text-decoration: underline;
    }
  