<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Libro</title>
  <link rel="stylesheet" href="book-details.css"> 
</head>
<body>
  <header>
    <h1>Detalles del Libro</h1>
  </header>

  <div id="book-detail" class="book-detail">
    <img src="img/gabriel-garcia.avif" alt="gabriel-garcia" style="width: 130px; height: 80;">
    <h2>Cien años de soledad.</h2>
    <p><strong>Autor:</strong> Gabriel García Márquez</p>
      <p><strong>Año:</strong> 1967</p>
    <p><strong>Género:</strong> Realismo Mágico</p>
    <p><strong>Descripción:</strong> La historia de la familia Buendía en el pueblo ficticio de Macondo.</p>
    <a href="index.html" class="btn">Volver a la Lista</a>
  </div>
  

  <main>
    <div id="book-detail" class="book-detail">
      <!-- Aquí se llenará la información del libro con JavaScript -->
    </div>
  </main>


  <footer>
    <p>&copy; 2025 ConectaLibros</p>
  </footer>

  <!-- Asegúrate de que el archivo script.js esté correctamente vinculado -->
  <script src="script.js"></script>
</body>
</html>

