<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Libros</title>
  <link rel="stylesheet" href="book-details.css">
</head>
<body>
  <header>
    <h1>Lista de Libros</h1>
  </header>
  <main>
    <div class="book-list">
      <div class="book-item">
        <img src="img/gabriel-garcia.avif" alt="libro">
        <h2>Cien años de soledad</h2>
        <p>Autor: Gabriel Garcia</p>
        <a href="book-detail.html?id=1" class="btn">Ver Detalles</a>
      </div>
      <div class="book-item">
        <img src="img/quijote.jpeg" alt="Portada del libro">
        <h2>Don Quijote de la Mancha</h2>
        <p>Autor: Miguel de Cervante</p>
        <a href="book-detail.html?id=2" class="btn">Ver Detalles</a>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Biblioteca Online</p>
  </footer>
</body>
</html>
